.IBMSMSMBSSDownloadsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}

.IBMSMSMBSSDownloads {
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  border: solid 1px rgba(255,255,255,0.05);
  overflow: auto;
  max-height: 550px;
  padding: 15px;
}

@media (max-width: 768px) {
  .IBMSMSMBSSDownloads {
    grid-template-columns: 1fr;
  }
}

.IBMSMSMBSSDownloadsPrime {
}

.IBMSMSMBSSDownloadsTitle {
  color: rgba(255,255,255,0.5);
}

.IBMSMSMBSSDownloadsElement {
  transition: ease 0.4s;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  border: solid 1px rgba(255,255,255,0);
  background: rgba(255,255,255,0.05);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
}

@media (max-width: 768px) {
  .IBMSMSMBSSDownloadsElement {
    grid-template-columns: 1fr;
  }
}

.btnMain.IBMSMSMBSSDownloadsElementBtn {
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .btnMain.IBMSMSMBSSDownloadsElementBtn {
    order: 3;
  }
}

.btnMain.IBMSMSMBSSDownloadsElementBtn:hover {
  background: rgba(255,255,255,0.1);
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
}

.IBMSMSMBSSDownloadsElementInside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: rgba(255,255,255,0.5);
  grid-gap: 10px;
}

.IBMSMSMBSSDownloadsElementInsideReactions {
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  height: 100%;
}

@media (max-width: 576px) {
  .IBMSMSMBSSDownloadsElementInsideReactions {
    flex-direction: column;
  }
}

.IBMSMSMBSSDEIReactionsElement {
  transition: ease 0.4s;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(255,255,255,0);
  overflow: hidden;
  border-radius: 10px;
  border: solid 1px rgba(255,255,255,0.05);
  cursor: pointer;
}

.IBMSMSMBSSDEIReactionsElement:hover {
  transition: ease 0.4s;
  background: rgba(255,255,255,0.05);
  color: rgba(255,255,255,0.75);
  border: solid 1px rgba(255,255,255,0);
}

.IBMSMSMBSSDEIReactionsElement:hover > .IBMSMSMBSSDEIReactionsElementIconWrapper {
  transition: ease 0.4s;
  background: rgba(255,255,255,0.05);
  border-right: solid 1px rgba(255,255,255,0);
}

.IBMSMSMBSSDEIReactionsElement:hover > .IBMSMSMBSSDEIReactionsElementIconWrapper > .IBMSMSMBSSDEIReactionsElementIcon {
  transform: scale(1.1);
}

.IBMSMSMBSSDEIReactionsElementIcon {
  transition: ease 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IBMSMSMBSSDEIReactionsElementText {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px 5px;
}

.IBMSMSMBSSDEIReactionsElementIconWrapper {
  transition: ease 0.4s;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(255,255,255,0);
  padding: 10px 5px;
  border-right: solid 1px rgba(255,255,255,0.05);
}

.IBMSMSMBSSDownloadsElementInsideDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.IBMSMSMBSSDEIReactionsElement.IBMSMSMBSSDEIReactionsElementActive {
  background: rgba(255,255,255,0.05);
  border: solid 1px rgba(255,255,255,0);
}

.IBMSMSMBSSDEIReactionsElement.IBMSMSMBSSDEIReactionsElementActive > .IBMSMSMBSSDEIReactionsElementIconWrapper {
  background: rgba(255,255,255,0.05);
  border-right: solid 1px rgba(255,255,255,0);
}

.IBMSMSMBSSDEIReactionsElement.IBMSMSMBSSDEIReactionsElementActive > .IBMSMSMBSSDEIReactionsElementIconWrapper > .IBMSMSMBSSDEIReactionsElementIcon {
  color: rgba(255,255,255,0.75);
}

.IBMSMSMBSSDownloadsActions {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.IBMSMSMBSSDownloadsElementInside.IBMSMSMBSSDownloadsElementInsideAlt {
  align-items: center;
}

.IBMSMSMBSSDownloadsElementInsideAltTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid 1px rgba(255,255,255,0.1);
  overflow: auto;
  grid-gap: 1px;
}

.IBMSMSMBSSDownloadsElementInsideAltTableRow {
  transition: ease 0.4s;
  display: flex;
  flex-direction: row;
  grid-gap: 0px;
}

.IBMSMSMBSSDownloadsElementInsideAltTableRow:hover {
  transition: ease 0.4s;
  background: rgba(255,255,255,0.05);
}

@media (max-width: 576px) {
  .IBMSMSMBSSDownloadsElementInsideAltTableRow {
    flex-direction: column;
  }
}

.IBMSMSMBSSDownloadsElementInsideAltTableRowCol {
  width: 100%;
  text-align: start;
  padding: 10px 15px;
}

.IBMSMSMBSSDownloadsElementInsideAltTableRowCol.IBMSMSMBSSDownloadsElementInsideAltTableRowColFirst {
  text-align: center;
  font-weight: bold;
  max-width: 200px;
  background: rgba(255,255,255,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .IBMSMSMBSSDownloadsElementInsideAltTableRowCol.IBMSMSMBSSDownloadsElementInsideAltTableRowColFirst {
    max-width: unset;
  }
}

.IBMSMSMBSSDownloadsElementInsideAltText {
  transition: ease 0.4s;
  cursor: pointer;
  font-weight: 400;
  color: rgba(255,255,255,0.25);
}

.IBMSMSMBSSDownloadsElementInsideAltText:hover {
  transition: ease 0.4s;
  cursor: pointer;
  font-weight: 600;
  color: rgba(255,255,255,0.75);
}

