.relayList {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}

.relayListItem {
  width: 100%;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
  border: solid 1px rgba(255,255,255,0.1);
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  grid-gap: 0px;
  overflow: hidden;
}

.relayListItemSec {
  padding: 5px 15px;
}

.relayListItemSec.relayListItemSecPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.1);
}

.relayListItemSecPicImg {
  width: 25px;
  height: 25px;
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
}

.relayListItemSec.relayListItemSecDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.relayListItemSec.relayListItemSecActions {
  width: 75px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.relayListItemSecDetailsText {
}

.relayListItemSecDetailsExtra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 10px;
  color: rgba(255,255,255,0.5);
}

