table.TableMain {
  /*width: 100%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*grid-gap: 0;*/
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
  border: solid 0px rgba(255,255,255,0);
  border-radius: 10px;
  /*overflow: hidden;*/
  margin: 0;
}

@media (max-width: 768px) {
  .TableMain {
    flex-direction: row;
  }
}

thead.TableMainTop {
  width: 100%;
  background: rgba(255,255,255,0.05);
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
}

@media (max-width: 768px) {
  .TableMainTop {
    grid-template-columns: 1fr;
    width: auto;
  }
}

tbody.TableMainBottom {
  width: 100%;
  background: rgba(0,0,0,0.05);
  /*display: flex;*/
  /*flex-direction: column;*/
  /*grid-gap: 10px;*/
  /*padding: 10px;*/
}

@media (max-width: 768px) {
  .TableMainBottom {
    flex-direction: row;
    grid-gap: 15px;
    overflow: auto;
  }
}

th.TableMainTopCell {
  text-align: center;
  padding: 10px;
  color: rgba(255,255,255,0.5);
  font-weight: bold;
  white-space: nowrap;
}

tr.TableMainBottomRow {
  transition: ease 0.4s;
  /*width: 100%;*/
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  /*grid-gap: 10px;*/
  /*border-radius: 10px;*/
}

@media (max-width: 768px) {
  .TableMainBottomRow {
    grid-template-columns: 1fr;
    min-width: 315px;
  }
}

.TableMainBottomRow:hover {
  transition: ease 0.4s;
  background: rgba(255,255,255,0.05);
}

tr.TableMainBottomRow.TableMainBottomRowHead {
  border-bottom: solid 1px rgba(255,255,255,0.05);
}

td.TableMainBottomRowCell {
  text-align: center;
  padding: 10px;
  color: rgba(255,255,255,0.5);
  white-space: nowrap;
  max-width: 100px;
  min-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TableMainWrapper {
  overflow: auto;
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
  border: solid 1px rgba(255,255,255,0.05);
  border-radius: 10px;
}

.btnMain.TableMainBottomRowCellBtn {
}

.TableMainBottomRowCellActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

