.tabsMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 10px;
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
  border: solid 1px rgba(255,255,255,0.05);
}

.tabsMainTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  border: unset;
  padding: 0;
  background: rgba(0,0,0,0);
}

.tabsMainTopTab {
  flex-grow: 1;
  text-align: center;
}

.nav-link.tabsMainTopTabLink {
  color: rgba(255,255,255,0.5);
  font-weight: normal;
  background: rgba(255,255,255,0);
  border: unset;
  border-radius: 8px;
  padding: 5px;
}

.nav-link.active.tabsMainTopTabLink {
  color: rgba(255,255,255,0.75);
  font-weight: bold;
  background: rgba(255,255,255,0.05);
}

.tabsMainBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-pane.tabsMainBottomContent {
}

.tab-pane.active.tabsMainBottomContent {
}

